.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/historia-queen.appspot.com/o/queen4.jpg?alt=media&token=a06cd938-225a-41a3-910d-dfdd7ca10621');
    background-position: top center;
    background-size: cover;
    padding: 10% 20% 32% 20%;
}